.container {
  max-width: 900px;
  width: 90%;
}

.main-contents {
  width: 100%;
  margin-top: 4.5em;
}

.contents {
  width: 100%;
}

.sidebar-profile {
  display: none;
}

@media (min-width: 600px) {
  .main-contents {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .contents {
    width: 66%;
  }

  .sidebar-profile {
    display: block;
    width: 32%;
  }
}

.muted-text {
  font-size: 0.8rem;
  font-weight: 600;
  color: #65676b;
  padding: 0.1em;
}

.load-posts {
  padding: 0.5em;
  background: white;
  text-align: center;
  color: #4268b4;
  margin-bottom: 1em;
}

.load-posts p {
  cursor: pointer;
  font-size: 0.9rem;
}

.load-posts p:hover {
  text-decoration: underline;
}
