#noti-container {
  z-index: 1001;
  width: 100%;
  position: absolute;
  bottom: 20px;
}

#contents {
  width: 90%;
  margin: auto;
}

@media (min-width: 400px) {
  #noti-container {
    width: 300px;
    right: 20px;
  }

  #contents {
    width: 300px;
  }
}

p {
  margin: 0;
}

#contents > * {
  margin-bottom: 7px !important;
}

.notification {
  display: flex;
  align-items: center;
  min-height: 25px;
  justify-content: space-between;
}

.notification svg {
  width: 20px !important;
  align-self: center;
}

.notification p {
  width: 220px;
  margin: 0;
  font-size: 0.8em;
}
