.user-row {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.user-row:last-child {
  margin-bottom: 0;
}

.user-img {
  width: 3.5em;
  height: 3.5em;
  display: flex;
  justify-content: center;
}

.user-img img {
  height: 100%;
  width: auto;
  object-fit: cover;
  border-radius: 3px;
}

.user-det {
  margin-left: 0.5em;
}

.user-det a {
  color: black;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: bold;
  margin: 0;
}

.user-det a:hover {
  text-decoration: underline;
}

.user-det p {
  font-size: 0.8rem;
  margin-top: 0.3em;
}
